.main-container {
    margin: 0 auto;
    width: 300px;
    border: 1px solid #999;
    padding: 10px;
    height: 300px;
    font-family: "arial";
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 20px 0px rgba(87, 82, 87, 1);
    -moz-box-shadow: 3px 3px 20px 0px rgba(87, 82, 87, 1);
    box-shadow: 3px 3px 20px 0px rgba(87, 82, 87, 1);
    /*background-color: #D3D3D3;*/
}

.main-container h1 {
    text-align: center;
    margin-top: 0;
}

li {
    list-style: none;
}

.done {
    text-decoration: line-through;
    color: green;
}

.form1 {
    height: 131px;
    overflow-y: auto;
}

.add {
    background-color: #C80000;
    border-style: none;
    width: 46px;
    height: 22px;
}

.remove {
    background-color: #FFCC33;
    border-style: none;
    width: 58px;
    height: 22px;
}

input {
    border: 1px solid;
    outline: none;
}

.unarchive {
    /* background-color: #FFCC33;*/
    display: block;
    border-style: none;
    width: 80px;
    height: 22px;
}

.archive {
    display: none;
    /*background-color: #FFCC33 ;*/
    border-style: none;
    width: 58px;
    height: 22px;
}

.toggle {
    background-color: #FFCC33;
    border-style: none;
    width: 58px;
    height: 22px;
}

.ng-dirty .ng-invalid {
    border: 2px solid #B00000;
}

.ng-dirty .ng-valid {
    border: 2px solid #0c6;
}

.ng-pristine .ng-invalid {
    border: 2px solid #D3D3D3;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.archive-button {
    background-color: #FFCC33;
    border-style: none;
    width: 58px;
    height: 22px;
}

.unarchive-button {
    background-color: #FFCC33;
    border-style: none;
    width: 80px;
    height: 22px;
}
